In [6]:
#importing relevant libraries
import pandas as pd

### 1.	What would be the suggested steps to make this Supervised Learning Model?

#### 1. First and most important thing to with the data is the cleaning part. In this part we import the data from the CSV file into the     notebook and remove all the non-ASCII characters.
#### 2. First and most important thing to with the data is the cleaning part. In this part we import the data from the CSV file into the     notebook and remove all the non-ASCII characters.

In [7]:
df = pd.read_csv("base_poupacerto_20200519.csv", sep=';')

In [8]:
df.head()

,id,celular,safra_abertura,cidade,estado,idade,sexo,limite_total,limite_disp,data,valor,grupo_estabelecimento,cidade_estabelecimento,"pais_estabelecimento,,,"
0,"4,52863E+11",+55 (11) 96387-9924,201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,5605,04/12/19,31,SERVI�O,SAO PAULO,",,"
1,"4,52863E+11",+55 (11) 96387-9924,201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,5343,09/11/19,"150,01",FARMACIAS,SANTOS,"BR,"
2,"4,52863E+11",+55 (11) 96387-9924,201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2829,06/05/19,50,SERVI�O,SAO PAULO,",,"
3,"4,52863E+11",+55 (11) 96387-9924,201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2547,01/06/19,"54,4",M.O.T.O.,OSASCO,"BR,"
4,"4,52863E+11",+55 (11) 96387-9924,201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2515,01/06/19,"32,79",M.O.T.O.,OSASCO,"BR,"

In [9]:
df.columns

Index(['id', 'celular', 'safra_abertura', 'cidade', 'estado', 'idade', 'sexo',
       'limite_total', 'limite_disp', 'data', ' valor ',
       'grupo_estabelecimento', 'cidade_estabelecimento',
       'pais_estabelecimento,,,'],
      dtype='object')

In [10]:
df.isnull().sum()

id                          0
celular                     0
safra_abertura              0
cidade                      0
estado                      0
idade                       0
sexo                        0
limite_total                0
limite_disp                 0
data                        0
 valor                      0
grupo_estabelecimento       0
cidade_estabelecimento     19
pais_estabelecimento,,,    12
dtype: int64

In [35]:
#unique values in the columns
df.nunique(axis=0)

id                           29
celular                      29
safra_abertura               23
cidade                       10
estado                        2
idade                        20
sexo                          2
limite_total                 55
limite_disp                3801
data                        403
 valor                     2710
grupo_estabelecimento        25
cidade_estabelecimento      141
pais_estabelecimento,,,      14
dtype: int64